*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #985277;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   
}
.container{
    background-color: #FAA275;
    padding: 2rem;
    min-height: 45vh;
    min-width: 35vh;
    border-radius: 1rem;
}
form select,button,input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;

}
.amount{
    margin-top: 1rem;
}
.amount input{
    margin-top: .5rem;
    height: 2rem;
    font-size: 1rem;
    padding-left: .3rem;
    border: 1px solid white;
}
.countries{
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.countries img{
    max-width: 2rem;
}
.select-country{
    border: 1px solid grey;
    display:flex;
    width: 6rem;
    border-radius: .5rem;
    padding: 2px;
    align-items: center;
    justify-content: space-evenly;
}
.select-country select{
    width: auto;
    background-color: #FAA275;
    color: rgb(59, 59, 59);
}
.msg{
margin :3rem 0 1rem 0;
font-size: 1rem;
font-weight:540;
}
form button{
height: 3rem;
font-size: 1.15rem;
margin-top: 2rem;
background-color: #94a1c4;
color: rgb(240, 240, 240);
font-weight: bold;
}
form button:hover{
    cursor: pointer;
    background-color: #808bac;
    color: white;
}
.change{
    background-color: transparent;
    color: black;
    max-width: 2rem;
}

.change:hover{
    
    background-color: transparent;
    color: black;
}
