*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #985277;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    background-color: #FAA275;
    padding: 32px; /* 2rem */
    height: 45vh;
    width: 35vw; 
    border-radius: 16px; /* 1rem */
}
form select, button, input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 12px; /* 0.75rem */
}
.amount{
    margin-top: 16px; /* 1rem */
}
.amount input{
    margin-top: 8px; /* 0.5rem */
    height: 32px; /* 2rem */
    font-size: 16px; /* 1rem */
    padding-left: 4.8px; /* 0.3rem */
    border: 1px solid white;
}
.countries{
    margin-top: 24px; /* 1.5rem */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px; /* 1.5rem */
}
.countries img{
    max-width: 32px; /* 2rem */
}
.select-country{
    border: 1px solid grey;
    display: flex;
    width: 96px; /* 6rem */
    border-radius: 8px; /* 0.5rem */
    padding: 2px;
    align-items: center;
    justify-content: space-evenly;
}
.select-country select{
    width: auto;
    background-color: #FAA275;
    color: rgb(59, 59, 59);
}
.msg{
    margin: 48px 0 16px 0; /* 3rem 0 1rem 0 */
    font-size: 16px; /* 1rem */
    font-weight: 540;
}
form button{
    height: 48px; /* 3rem */
    font-size: 18.4px; /* 1.15rem */
    margin-top: 32px; /* 2rem */
    background-color: #94a1c4;
    color: rgb(240, 240, 240);
    font-weight: bold;
}
form button:hover{
    cursor: pointer;
    background-color: #808bac;
    color: white;
}
.change{
    background-color: transparent;
    color: black;
    max-width: 32px; /* 2rem */
}
.change:hover{
    background-color: transparent;
    color: black;
}
